<%- include("partials/header.ejs") %>

<div class="container loginPageCon">
    <div class="googleLogin">
        <a href="/auth/google" class="btn btn-light btn-lg d-flex align-items-center justify-content-center shadow-sm border rounded-pill px-4 py-2">
            <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google Logo" class="me-2" width="24" height="24">
            <span class="googleTitle">Login with Google</span>
        </a>
    </div>
    <div class="dividerCon">
        <hr>
        <div>
            <p>OR</p>
        </div>
    </div>
    <div class="manualLoginAndSignUpCon">
        <form action="/login" method="POST">
            <p class="loginTitle">Login Manually</p>
            <input class="email" type="email" name="email" placeholder="Email"/>
            <input class="password" type="password" name="password" placeholder="Password"/>
            <div class="submitCon">
                <input class="checkbox" id="checkbox" name="rememberTheUser" type="checkbox"/>
                <label for="checkbox">Remember Me</label>
                <button type="submit">Login</button>
            </div>
            <p class="otherOptionCon">Don't you have one?<span> <a href="/signUp">Register now</a></span></p>
        </form>
    </div>
</div>

<%- include("partials/footer.ejs") %>