/* General styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header, footer {
    background-color: #f8f9fa;
    text-align: center;
}

/* Styling for the Main Page */

.nav-item3 {
    margin-right: 15px;
}

.welcomeCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeCon p {
    width: 600px;
    line-height: 2;
    text-align: center;
    font-family: monospace;
}

.postIntroCon {
    display: flex;
    justify-content: space-between;
}

.postCon {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 500px);
    grid-auto-rows: 550px;
}

.detailsCon {
    display: flex;
}

.detailsCon img {
    height: 270px;
    width: 180px;
}

.bookInfoCon {
    margin-left: 30px;
}

.title {
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.yearAndIsbnCon {
    color: grey;
}

.rating {
    text-decoration: underline;
}

.reviewCon {
    margin-top: 30px;
    font-size: 19px;
    font-family: 'Georgia', 'Times New Roman', serif;
    line-height: 1.5;
    color: #333; 
}

/* Styling for review page */

.buttonsCon {
    display: flex;
    justify-content: flex-end;
}

.editBtn {
    margin-right: 60px;
    border: 2px solid green;
    padding: 5px 28px;
    border-radius: 8px;
    text-decoration: none;
    background-color: green;
    color: white;
}

.deleteBtn {
    margin-right: 15px;
    border: 2px solid red;
    padding: 5px 16px;
    border-radius: 8px;
    background-color: red;
    color: white;
}

/* Styling for Edit and Post Creation Pages */

.ratingCon {
    margin-top: 30px;
}

.editReviewCon, .postCreationReviewCon {
    display: flex;
    flex-direction: column;
}

.editReviewCon textarea, .postCreationReviewCon textarea {
    height: 425px;
    resize: none;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 8px;
}

.editAndPostRating, .bookNameSearch, .postCreationReviewCon {
    font-size: 23px;
    font-family: 'Georgia', 'Times New Roman', serif;
    line-height: 1.5;
    color: #333;
}

.editReview {
    font-size: 23px;
    margin-bottom: 10px;
}

.updateBtn, .createBtn {
    margin-top: 15px;
    border: 2px solid #458d63;
    padding: 5px 16px;
    border-radius: 8px;
    background-color: #458d63;
    color: white;
}

.postCreationPage h1 {
    display: flex;
    justify-content: center;
}

.postCreationReviewCon label {
    margin-bottom: 10px;
}
