/* General styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header, footer {
    background-color: #f8f9fa;
    text-align: center;
}

/* Styling for the Main Page */

.navCon {
    display: flex;
    align-items: center;
}

.nav-item1 {
    margin: 0px 10px;
}

.nav-item2 {
    margin-left: 15px;
}

.nav-item3 {
    margin-right: 15px;
}

.welcomeCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeCon p {
    width: 600px;
    line-height: 2;
    text-align: center;
    font-family: monospace;
}

.postIntroCon {
    display: flex;
    justify-content: space-between;
}

.postCon {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 500px);
    grid-auto-rows: 550px;
}

.detailsCon {
    display: flex;
}

.detailsCon img {
    height: 270px;
    width: 180px;
}

.bookInfoCon {
    margin-left: 30px;
    color: grey;
}

.bookInfoCon span {
    color: #3f3f3f;
}

.reviewedBy span {
    text-transform: capitalize;
}

.title {
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    color: #333;
}

.rating {
    text-decoration: underline;
}

.reviewCon {
    margin-top: 30px;
    font-size: 19px;
    font-family: 'Georgia', 'Times New Roman', serif;
    line-height: 1.5;
    color: #333; 
}

.noPostsCon, .myPostsPageCon > h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for review page */

.buttonsCon {
    display: flex;
    justify-content: flex-end;
}

.editBtn {
    margin-right: 60px;
    border: 2px solid green;
    padding: 5px 28px;
    border-radius: 8px;
    text-decoration: none;
    background-color: green;
    color: white;
}

.deleteBtn {
    margin-right: 15px;
    border: 2px solid red;
    padding: 5px 16px;
    border-radius: 8px;
    background-color: red;
    color: white;
}

/* Styling for Edit and Post Creation Pages */

.ratingCon {
    margin-top: 30px;
}

.editReviewCon, .postCreationReviewCon {
    display: flex;
    flex-direction: column;
}

.editReviewCon textarea, .postCreationReviewCon textarea {
    height: 425px;
    resize: none;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 8px;
}

.editAndPostRating, .bookNameSearch, .postCreationReviewCon {
    font-size: 23px;
    font-family: 'Georgia', 'Times New Roman', serif;
    line-height: 1.5;
    color: #333;
}

.editReview {
    font-size: 23px;
    margin-bottom: 10px;
}

.updateBtn, .createBtn {
    margin-top: 15px;
    border: 2px solid #458d63;
    padding: 5px 16px;
    border-radius: 8px;
    background-color: #458d63;
    color: white;
}

.postCreationPage h1 {
    display: flex;
    justify-content: center;
}

.postCreationReviewCon label {
    margin-bottom: 10px;
}

/* Styling for Sign-up and login pages */
.signUpPageCon, .loginPageCon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.googleLogin {
    margin-top: 50px;
}

.googleLogin a {
    width: 300px;
}

.dividerCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.dividerCon hr {
    position: relative;
    width: 300px;
    border: 1px solid #777474;
    margin-top: 24px;
}

.dividerCon div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    position: absolute;
}

.dividerCon div p {
    font-size: 18px;
    font-family: 'Arial', sans-serif; 
    color: #333; 
    margin: 0;
}

.loginTitle, .signUpTitle {
    font-size: 22px;
    font-family: 'Georgia', 'Times New Roman', serif;
    color: #464545;
    text-align: center;
    margin-top: 20px;
}

.manualLoginAndSignUpCon form{
    display: flex;
    flex-direction: column;
}

.email, .password, .name {
    display: flex;
    align-self: center;
    background-color: #f8f9fa;
    width: 300px;
    margin-bottom: 20px;
    color: #000;
    font-size: 1.25rem;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 8px 20px;
    transition: all 0.2s ease-in-out;
}
.email:hover, .password:hover, .name:hover, .googleLogin a:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.submitCon, .otherOptionCon {
    align-self: center;
    margin-bottom: 20px;
    font-size: 17px;
}

.submitCon button {
    background-color: #4CAF50;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.submitCon button:hover {
    background-color: #45a049;
}

/* Styling for the My Posts Page */

.noPostsCon {
    margin-top: 70px;
}

.noReview {
    font-size: 23px;
    font-family: 'Georgia', 'Times New Roman', serif;
    color: #858181;
    margin-top: 20px;
}

.createOption {
    font-size: 25px;
    font-family: 'Georgia', 'Times New Roman', serif;
    letter-spacing: 0.5px;
    color: #424242;
}
